<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogg</title>
</head>
<body>
<header>
 <h1>
     Blogg
 </h1>
</header>
<main>
    <form action="/login" method="POST">
      <input type="text" name="email" placeholder="E-mail">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Login">
    </form>
    <a href="/register">Register</a>
</main>
</body>
</html>