<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
    <div class="container">
        <main class="content">
            <h1>Welcome to blogger.com</h1>
        </main>
    </div>
<%- include('../partials/footer.ejs') %>