<%- include('../partials/header.ejs') %> <%- include('../partials/navbar.ejs')
%>
<div class="container">
  <main class="content">
    <form id="signup-form">
      <h1>Sign up below</h1>
      <input type="text" id="name" name="name" placeholder="Enter your name" />
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your e-mail"
      />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter a password"
      />
      <input
        type="password"
        id="repeatPassword"
        name="repeatPassword"
        placeholder="Verify password"
      />
      <button>Sign up</button>
    </form>
  </main>
</div>
<%- include('../partials/footer.ejs') %>
